//-
//- Crafting Guide - home_page.jade
//-
//- Copyright (c) 2015 by Redwood Labs
//- All rights reserved.
//-

.view__home_page
    .sidebar
        ins.view__adsense

        .titleImage <a href="/browse/minecraft/"><img src="/browse/minecraft/icon.png"></a>
        .titleImage <a href="/browse/buildcraft/"><img src="/browse/buildcraft/icon.png"></a>
        .titleImage <a href="/browse/industrial_craft_2/"><img src="/browse/industrial_craft_2/icon.png"></a>
        .titleImage <a href="/browse/applied_energistics_2/"><img src="/browse/applied_energistics_2/icon.png"></a>
        .titleImage <a href="/browse/thermal_expansion/"><img src="/browse/thermal_expansion/icon.png"></a>
        .titleImage <a href="/browse/enderio/"><img src="/browse/enderio/icon.png"></a>
        .titleImage <a href="/browse/railcraft/"><img src="/browse/railcraft/icon.png"></a>

    .mainBody
        .section
            h2 Welcome!
            .panel
                .entry
                    p.intro.
                        Crafting Guide is the ultimate resource for Minecraft. Whether you're punching trees or building
                        reactors, you'll find Crafting Guide indispensable.
                    ul
                        li.intro Can't remember the recipe for a <a href="/browse/buildcraft/quarry">BuildCraft Quarry</a>?
                        li.intro Curious to see all the blocks added by <a href="/browse/railcraft">Railcraft</a>?
                        li.intro Want step-by-step directions for making a full <a
                            | href="/craft/quantumsuit_bodyarmor:quantumsuit_boots:quantumsuit_helmet:quantumsuit_leggings"
                            | >IC2 QuantumSuit</a>?
                    p.intro No problem. Crafting Guide can do it all.
                    p.
                        <a class="section-link" href='/configure'>Configure<a> which mods you're using, and the entire
                        site will update itself to your mod pack.
                    p.
                        <a class="section-link" href='/browse'>Browse<a> through your own customized item catalog to
                        see full recipe lists, related items, recipes added by each tool, and even which items can be
                        made from the item you're looking at.
                    p.
                        <a class="section-link" href='/craft'>Craft<a> any number of items from your mod pack to see a
                        full list of raw ingredients, and recipe-by-recipe instructions on how to make everything on
                        your list. No item is too complex, and no build is too big.

        .section
            h2 What's new?
            .panel
                h3 1015-04-03
                .entry
                    p.
                        You've asked for it, and now it's finally here... <a href="/browse/mekanism">Mekanism</a>
                        support is now available! There is one important caveat... I can't figure out the exact
                        quantities of all the various liquid-based recipes, so the numbers have been completely omitted
                        for that part and probably are a bit incorrect. If you have any further information about those
                        recipes, please let me know!

                h3 2015-04-02
                .entry
                    p.
                        BuildCraft just got an upgrade to the latest version, 6.4.6.  This is a much bigger upgrade than
                        it may seem because this actually adds a lot of missing items and recipes all the way back to
                        BuildCraft 4.x. So, now you can enjoy crafting plans which include the new integration table,
                        lenses, filters, and... Robots!

                h3 2015-03-24
                .entry
                    p.
                        I've just added support for ProfMobius' excellent JABBA (Just Another Better Barrel Attempt).
                        Thanks for the anonymous suggestion via the <a href="/configure">Configure</a> page!  If
                        Crafting Guide is missing a mod you use, feel free to head over there to suggest it.
                    p.
                        I've also added support for <a href="/browse/iron_chests">Iron Chests</a>, and with them, I've
                        taken advantage of some of the new features of the site to add descriptions for each item.

                h3 2015-03-21
                .entry
                    p.
                        I spent some time today cleaning up the various animations throughout the site, and working on
                        page rendering performance. Things should generally feel a lot smoother now.

                h3 2015-03-20
                .entry
                    p.
                        Recently, I've been working on allowing mod authors to add more detail to the item pages here on
                        Crafting Guide. To that end, there are a couple of new features to announce. First, item detail
                        pages can now show text and pictures to describe the item (check out the <a
                        href="/browse/buildcraft/assembly_table">Assembly Table</a> for an example).  Second, mods can
                        now include tutorial pages containing similar text and pictures to describe tricky concepts,
                        complex builds, or anything else their mod has to offer (see <a
                        href="/browse/buildcraft/tutorials/gates_wires_and_chips">Gates, Wires, and Chips</a> for an
                        example). Finally, both item pages and tutorial pages can display a list of YouTube videos. Only
                        a few pages in the Buildcraft section have been updated so far, but keep an eye out for
                        more to come!
                    p.
                        And... the second piece of news is that Crafting Guide now supports <a
                        href="/browse/thermal_dynamics">Thermal Dynamics</a>! This mod is an off-shoot from <a
                        href="/browse/thermal_expansion">Thermal Expansion</a> which contains all the ducts (item, fluid
                        and redstone flux) you're used to from TE3 plus some extras both for higher capacity throughput
                        and combining item ducts with redstone flux ducts.

                h3 2015-03-13
                .entry
                    p.
                        Happy Friday! For the weekend, you get <a href="/browse/big_reactors/">Big Reactors!</a> Enjoy!

                h3 2015-03-12
                .entry
                    p.
                        Thanks to the extraordinary generosity and effort of <a
                        href="https://github.com/sheldongriffin">Sheldon Griffin</a>, Crafting Guide now supports
                        Forestry! Forestry is <i>not</i> a small mod, but he put in a huge effort, and it looks great.
                        If you'd like to help out too, head over to the <a
                        href="https://github.com/andrewminer/crafting-guide/wiki/Adding-support-for-a-new-Mod">GitHub
                        Wiki</a> for full instructions: no programming required!
                    p.
                        Also in the works is another significant expansion to the item pages. I've got the coding part
                        finished (you can peek at the final result <a
                        href="/browse/buildcraft/advanced_crafting_table/">here</a>), and
                        now there's a lot of entering data left to be done... any volunteers?

                h3 2015-03-09
                .entry
                    p.
                        It may seem like not much has been happening lately, but that's because all the changes have
                        been behind the scenes, and focused on making Google happier with the site.  This will make the
                        site show up better is search results, and will make it load a bit faster.
                    p.
                        As a result of this work, the site also now qualifies for AdSense. I absolutely don't want to
                        choke the site with ads as other big sites do, but it will be nice to pay the bills!

                h3 2015-03-01
                .entry
                    p.
                        This release delivers the second major expansion of Crafting Guide! Here's the list of what's
                        new:
                    ul
                        li New home page!
                        li Moved the crafting planner (the old home page) to its own <a href="/craft">Craft</a> page
                        li Moved mod pack management to the new <a href="/configure">Configure</a> page
                        li Added a <a href="/browse">Browse</a> page where you can peruse the list of supported mods

                h3 2015-02-26
                .entry
                    p.
                        This release adds a new section to the item pages called "Used as Tool to Make". The new section
                        shows all the other items which can be made by that tool. For example, the IC2 Macerator shows
                        a bunch of things like Iron Dust, Gold Dust, etc.

                h3 2015-02-24
                .entry
                    p.
                        This release changes the crafting page to let you modify the quantity of items in the "Items You
                        Want" and "Items You Have" section.  Let's say you want to make <a
                        href="/craft/64.potion_of_healing">64 Potions of Healing</a>. You add "Potion of Healing" just
                        as as you always did, but now you can click on the quantity to change it to whatever you want.
                    p.
                        At the same time, I've changed the quantity field to allow up to 9999 of any item. Have fun with
                        those huge builds!
